<% provide(:title, "Home") %>

<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= Task.where("task_state == 0 OR task_state == 1").count %></h3>

          <p>Open tasks</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <div class="small-box-footer"></div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= Project.where("end_time > ?", Time.zone.now).count %></h3>

          <p>Projects ongoing</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <div class="small-box-footer"></div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= User.count %></h3>

          <p>Users Registered</p>
        </div>
        <div class="icon">
          <i class="ion ion-person"></i>
        </div>
        <div class="small-box-footer"></div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= WorkLog.where("created_at >= ?", Time.zone.now.beginning_of_day).sum(:value) %></h3>

          <p>Hours logged today</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <div class="small-box-footer"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
      <ul class="timeline">
        <br/>
        <% WorkLog.order(id: :desc).limit(8).each do |workLog| %>
            <li>
              <i class="fa fa-tasks bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> <%= workLog.created_at.strftime("%b/%d %R") %></span>

                <h3 class="timeline-header"><%= link_to workLog.user.fullName, workLog.user %></h3>

                <div class="timeline-body">
                  Logged <b><%= workLog.value %>h</b> at <%= link_to workLog.task.name, workLog.task %>
                  (<%= link_to workLog.task.project.name, workLog.task.project %>)
                  <% if workLog.comment %>
                      <br/>

                      <p class="message"> <%= workLog.comment %></p>
                  <% end %>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
