<section class="content-header">
  <h1>
    Tasks
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-tasks"></i> Tasks</a></li>
    <li class="active">Tasks</li>
  </ol>
</section>

<section class="content">
  <div id="row">
  <% @tasks.each do |task| %>
      <div class="col-md-3 box box-primary">
        <div class="box-header ellipsis">
          <%= link_to task.name, task %>
        </div>
        <p class="ellipsis"><%= task.description %></p>
        <p class="ellipsis">Assigned to: <%= link_to task.user.fullName, task.user %></p>
        <p class="pull-right">
            <%= link_to '', edit_task_path(task), :class => "fa fa-edit" %>
            <%= link_to '', task, method: :delete, data: {confirm: 'Are you sure?'}, :class => "fa fa-remove" %>
        </p>
        <label>Created at <%= task.created_at.strftime('%d %b %Y') %></label>
      </div>
  <% end %>
  </div>
</section>
