<section class="content-header">
  <h1>
    Tasks
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-tasks"></i> Tasks</a></li>
    <li class="active">Task <%= @task.id %></li>
  </ol>
</section>

<section class="content">
  <div class="col-md-5">
    <div class="box box-primary">
      <div class="box-body">
        <div class="box-header">
          <h3 class="box-title">Show Task</h3>
        </div>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Id:</strong>
          <%= @task.id %>
        </p>

        <p>
          <strong>Project:</strong>
          <%= link_to @task.project.name, @task.project %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= @task.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @task.description %>
        </p>

        <p>
          <strong>Assignee:</strong>
          <%= link_to User.find(@task.assignee).fullName, ('/users/' + @task.assignee.to_s) %>
        </p>

        <p>
          <strong>Created at:</strong>
          <%= @task.created_at %>
        </p>

        <p>
          <strong>Estimate:</strong>
          <%= @task.estimate %>
        </p>

        <p>
          <strong>Task state:</strong>
          <%= @task.task_state_name %>
        </p>

        <%= link_to 'Log work', ('/work_logs?id=' + @task.id.to_s) %> |
        <%= link_to 'Edit', edit_task_path(@task) %> |
        <%= link_to 'Back', tasks_path %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="box box-primary">
      <div class="box-body">
        <div class="box-header">
          <h3 class="box-title">History</h3>
        </div>

        <ul class="list-group">
          <% @task.work_logs.each do |workLog| %>
              <li class="list-group-item col-md-12">
                <p><%= link_to workLog.user.fullName, workLog.user %> logged <%= workLog.value %>h spent at <%=workLog.created_at.strftime("%b/%d %R")%></p>
                <% if !workLog.comment.empty? %>
                    <p><b>Comment:</b> <%= workLog.comment %></p>
                <% end %>
              </li>
          <% end %>
          <% if @task.work_logs.empty? %>
              <li class="list-group-item"> No history yet</li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</section>