<section class="content-header">
  <h1>
    Projects
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-book"></i> Project</a></li>
    <li class="active">Projects</li>
  </ol>
</section>

<section class="content">
  <ul class="list-group">
    <% @projects.each do |project| %>
        <%= link_to(project, :class => "list-group-item col-md-12") do %>
           <div class="col-md-1">
              <%= image_tag(project.avatarFileName, :class => 'img-responsive', :alt => "Project Image") %>
            </div>
            <div class="col-md-10">
            <span>
                <p><b><%= project.name %></b></p>
                <p><%= project.description %></p>
                <p><%= project.start_time != nil ? project.start_time.strftime('%d %b %Y') :  project.start_time %></p>
                <p><%= project.end_time != nil ? project.end_time.strftime('%d %b %Y') :  project.end_time %></p>
            </span>
            </div>
        <% end %>
    <% end %>
  </ul>
</section>