<section class="content-header">
  <h1>
    <%= @project.name %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-book"></i>Project</a></li>
    <li class="active"><%= @project.name %></li>
  </ol>
</section>

<section class="content">
  <ul class="list-group">

    <div class="list-group-item col-md-12 ">
      <div class="col-md-1">
        <%= image_tag(@project.avatarFileName, :class => 'img-circle img-responsive', :alt => "Project Image") %>
      </div>
      <div class="col-md-10">
        <span>
          <div class="col-md-7">
            <p><b><%= @project.name %></b></p>

            <p><%= @project.description %></p>
          </div>
           <div class="col-md-4">
             <p>Starts <%= @project.start_time != nil ? @project.start_time.strftime('%d %b %Y') :  @project.start_time %></p>

             <p>Ends <%= @project.end_time != nil ? @project.end_time.strftime('%d %b %Y') :  @project.end_time%></p>
           </div>
             <div class="col-md-1">
               <p><%= link_to ' Edit', edit_project_path(@project), class: 'fa fa-edit' %></p>

               <p><%= link_to ' Delete', @project, method: :delete, data: {confirm: 'Are you sure?'}, :class => "fa fa-remove" %></p>

               <p>
                 <%= link_to :controller => 'tasks', :action => 'new', :project_id => @project.id do %>
                     <i class="fa fa-plus"></i> Add Task
                 <% end %>
               </p>
             </div>
        </span>
      </div>
    </div>
  </ul>
  <div class="col-md-12">
    <br/>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Open
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @project.tasks.where(task_state: 0).each do |task| %>
              <li class="list-group-item col-md-12" draggable="true">
                <p><b><%= link_to task.name, task %></b></p>

                <p><%= task.description %></p>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        In Progress
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @project.tasks.where(task_state: 1).each do |task| %>
              <li class="list-group-item col-md-12" draggable="true">
                <p><b><%= link_to task.name, task %></b></p>

                <p><%= task.description %></p>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Closed
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @project.tasks.where(task_state: 2).each do |task| %>
              <li class="list-group-item col-md-12" draggable="true">
                <p><b><%= link_to task.name, task %></b></p>

                <p><%= task.description %></p>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        Percentage of tasks by each user
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <%= image_tag(pie_chart_for_tasks, :alt => "Percentage of tasks by each user", :class => 'img-rectangle img-responsive') %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        Burndown chart of project
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <%= image_tag(burndown_chart_of_project, :alt => "Burndown chart of project", :class => 'img-rectangle img-responsive') %>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>